.ListFilieres-container{
  position: relative;
  top: -100px;
  width: 100%;
  min-height: 500vh;
  padding: 0 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/src/Components/images/useresBackground.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;

  }
  .ListFilieres-container h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .filiere-table{
    margin-top: 0px;
    width: 100%;
    border: 1px solid white;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .filiere-table-columns, .filiere-table-columns-details{
    display: flex;
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content: space-around;
    font-weight: 550;
    font-size: large;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.57);
    font-style: italic;
  }
  .filiere-table-columns-details:not(:last-child){
    border-bottom: 1px solid white;
  }
  .filiere-table-columns{
    font-weight: 600;
    font-size: larger;
    border-bottom: 1px solid white;
  }
  .filiere-table-columns-details div{
   width: 14.28%;
   min-height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   
  }
  .filiere-table-columns-details img{
   width: 100%;
   height: 80%;
  }
  .filiere-table-columns-details button{
    background-color: rgb(252, 88, 88);
    color: white;
    height: 80%;
    width: 80%;
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    cursor: pointer;
    
  }
  .filiere-table-columns-details button:hover{
    background-color: red;
  }




  /************************************/
  /* .popDeleteFiliere-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.628);
    backdrop-filter: blur(3px);
  } */
  .popDeleteFiliere{
    height: auto;
    width: 500px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.997);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 35%;
    border-radius: 12px;
    }
    .popDeleteFiliere h2{
      margin:40px 0;
    }

    .delete-options{
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .delete-options button{
      background-color: rgb(255, 131, 131);
      color: rgb(255, 255, 255);
      width: 25%;
      height: 30px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
    }
    .delete-options button:hover{
      background-color: red;
      color: white;
    }
    .container-popLogin{
     position: relative;
     height: 20%;
     width: 20%;
     margin: 20% auto;
     background-color: rgba(0, 0, 0, 0.628);
     border: 1px solid black;
     border: 12px;
     text-align: center;
     padding-top: 20px;
     color: black;
     font-size: x-large;
     border-radius: 16px;
    }
    .close-pop{
      position: absolute;
      cursor: pointer;
      right: 6px;
      top: 2px;
      color: red;
    }