.cours{
  width: 88.01%;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/src/Components/images/cour.png);
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
 
 }
 .cours select{
width: 200px;
height: 60px;
border-radius: 10px;
text-align: center;
font-size: large;

 }
 .close-cour{
   position: absolute;
   top: 10px;
   right: 10px;
   color: rgb(255, 109, 80);
   font-size: xx-large;
   cursor: pointer;
 }
 .close-cour:hover{
   color: red;
   transform: scale(1.1);
 }
 .pdf-card{
   height: 450px;
   width: 500px;
   box-shadow: -4px 0px 15px #ffffff;
   z-index: 99; 
   margin-bottom: 60px;
   border-radius: 10px;
 }
 .pdf-card .cour-info{
   width: 100%;
  height: 150px;
   display: flex;
   flex-direction: column;
   padding:0px 10px;
   align-items: center;
   font-size: larger;
   font-weight: 550;
   color: white;
   background-color: #111111a2;
 }
 
 .cour-info-section{
   width: 100%;
   height: 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px;
 }
 
 .cour-info-section .cour-info-1{
   width: 20%;
   color: #f89f4c;
 }
 .cour-info-section .cour-info-2{
   width: 80%;
 }
 .pdf-container{   
   padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 500px 500px;
 }
 .courTitle{
   font-size:40px;
   font-weight: 900;
   margin-bottom: 30px;
   text-shadow: 2px 1px 10px black;
   color: #d2d2d261;
   background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
   background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
   background-size: 110px 100%;
   -webkit-background-clip: text;
   background-clip: text;
   animation: flick 5s infinite;  
 }
 @keyframes flick {
   0% {
     background-position: top left;
   }
   100% {
     background-position: top right;
   }
 }
 .cours-NotAvaible{
  color: white;
  font-weight: 600;
  font-size: 50px;
  margin-top: 200px;
 }
 .cours::-webkit-scrollbar {
   width: 8px;
   height: 8px;
 }
 
 
 .cours::-webkit-scrollbar-thumb {
   background: #805022;
   border-radius: 16px;
   box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
 }
 
 .cours::-webkit-scrollbar-track {
   background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
 }