.Filiere{
 position: relative;
 text-align: center;
 width: 100%;
  height: 100%;
 background-color: e5e5e5; 
 display: flex;
 flex-direction: column;
}
.filiere-pic{
  position: relative;
}
.pic{
 width: 100%;
 min-height: 670px;

}
.pic img{
 width: 100%;
 height: 100%;
 filter: blur(2px);
}
.diplome-name{
  position: absolute;
  font-size: 50px;
  color: rgb(229, 226, 226);
  top: 40%;
  left: 2%;
  font-weight: 600;
  width: 700px;
  text-shadow: 2px 1px 10px black;
}

.diplome-name span{
 font-weight: 900;
 text-shadow: 2px 1px 10px black;
 color: #fffefe61;
 background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
 background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
 background-size: 110px 100%;
 -webkit-background-clip: text;
 background-clip: text;
 animation: flick 5s infinite; 
}
.filiere-info{
  width: 100%;
  min-height: 300vh;
  background-image: url(/src/Components/images/filierePresentation.png);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.presentation h1,.objectif h1,.Modalites h1,.Organisation h1,.modulaire h1,.Poursuit h1{
  margin: 30px 0px;
  font-weight: 650;
  font-size: 70px;
  font-style: italic;
  margin-right: 20px;
  animation: titles 10s infinite linear;
}
.presentation p,.objectif p,.Modalites p,.Organisation p,.Poursuit p{
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 80px;
}

.presentation,.objectif,.Modalites,.Organisation{
  width: 70%;
  float: right;
}
.objectif div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.objectif img{
  height: 60px;
  width: 70px;
}
.modulaire{
  width: 80%;
  height: auto;
  float: right;
  padding: 20px;
}
.annee1,.annee2{
  height: 50%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}
.module{
display: flex;

justify-content: baseline;
}
.module div{
  height: 50px;
  font-size: x-large;
  font-weight: 600;
  color: #cba856;
}
.module .M{
  width: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cba856;
}
.module .subject{
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  font-size: larger;
}
#code{
  background-color: #cba856;
  color: white;
}
#Intitule{
  background-color: #805022;
  color: white;
}
.semestre{
  border-radius: 12px;
  width: 45%;
  height: 100%;
  animation: rotate 15s infinite linear;
}

.semestre-number{
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  margin: 1rem auto;
  animation: neon 3s ease infinite;
}
@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color: #f5efcb;
  }
  50% {
      text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
      color: #eda0d3;
  }
}

@keyframes rotate{
  0%{
    box-shadow: 4px 0px 15px #FF6A3D;
  }
  10%{
    box-shadow: 0px -4px 15px #FF6A3D;
  }
  20%{
    box-shadow: -4px 0px 0px #FF6A3D;
  }
  30%{
    box-shadow: 0px 4px 15px #FF6A3D;
  }
  40%{
    box-shadow: 4px 0px 15px #FF6A3D;
  }
  50%{
    box-shadow: 0px -4px 0px #FF6A3D;
  }
  60%{
    box-shadow: -4px 0px 15px #FF6A3D;
  }
  70%{
    box-shadow: 0px 4px 15px #FF6A3D;
  }
  80%{
    box-shadow: 4px 0px 15px #FF6A3D;
  }
  90%{
    box-shadow: 0px -4px 15px #FF6A3D;
  }
  100%{
    box-shadow: -4px 0px 15px #FF6A3D;
  }

}
@keyframes titles{
  0%{
    color: #492815;
  }
  25%{
    color: #be8d48;
  }
  50%{
   color: #dcaf5e;
  }
  75%{
   color: #edcd76;
  }
  100%{
    color: #c6be70;
  }

}