.QuestionCard{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #ebebeb;
  height: 300px;
  width: 100%;
  color: black;
  font-size: larger;
  font-weight: 500;
  padding: 10px 20px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 20px;
}
.left-side-question{
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-postage{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Question{
  font-size: x-large;
  font-weight: 500;
  text-align: center;
}
.right-side-question{
  width: 90%;
  height: 100%;
  
  display: flex;
  flex-wrap: wrap;
}
.likes,.likes-number.liked-heart{
  /* border: 3px solid olive; */
  width: 80%;
  height: 40%;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.likes-number{
  font-size: x-large;
}

.QuestionCard div{
  padding: 10px;
  margin-bottom: 5px;
}
.QuestionsBord{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.QuestionCard button{
  width: 10%;
  background-color: rgb(83, 175, 206);
  color: white;
  text-align: center;
  border-radius: 12px;
  border: none;
  padding: 10px 12px;
  font-size: medium;
  font-weight: 500;
  float: right;
  transition: background-color 0.6s;
}
.QuestionCard button:hover{
  background-color: blue;
  cursor: pointer;
}
.QuestionCard-details{
 display: flex;
 margin: 10px;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}
.Nomuser{
  font-size: medium;
 font-weight: 550;
 text-transform: uppercase;
}
.logo-user{
  font-size: xx-large;
  margin-top: 20px;
}
.nbr-responses{
 font-weight: 550;
}
.likes{
  color: white;
}
.liked-heart{
  color: red;
  width: 80%;
  height: 40%;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
.Delete-question{
  position: absolute;
  bottom: 10px;
  left: 45%;
}
.Delete-question button{
  background-color: rgb(255, 137, 137);
  cursor: pointer;
  font-size: medium;
  padding: 6px 6px;
  width: 150px;
}
.Delete-question button:hover{
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  font-size: medium;
  padding: 6px 6px;
  width: 150px;
}