.Side{
  position: fixed;
  left: 0;
  /* background-color: #201a1a; */
  background-color: #1A2238;
  height: 100%;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  color: white;
  border-right: 1px solid black;
  overflow: scroll;
}
.filiere-container{
  width: 100%;
  height: auto;
  min-height: 40px;
  position: relative;
  background-color: none;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  transition: box-shadow 0.7s;
  font-size: medium;
  font-weight: 500;
  /* font-style: italic; */
  border-radius: 3px;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filiere-container:hover{
  box-shadow: inset 300px 0px 5px 20px white;
   margin-bottom: 30px;
   color: black;
   cursor: pointer;


}
.filiere-container:hover .filiere-option{
  display: block;
}
.filiere-option{
  position: absolute;
  display: none;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: auto;
  transition: box-shadow 0.7s;
  box-shadow: inset 0px 30px 2px 12px lightblue;
  animation: display 0.7s;
  color: black;
}
.filiere-option div{
  border-bottom: 1px solid white;
  height: 50%;
}
.filiere-option div span{
  font-size: small;
}
.Side::-webkit-scrollbar {
  width: 1px;
  height: 8px;
}

.Side::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

.Side::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}